@charset "UTF-8";
/* CSS Document */
body {overflow-y: hidden; background-color: #F9E3E3;}

.About {position: absolute; top: 110px; left: 52%;
	font-family : Chalkduster; color:#F5323F;
	font-size : 50px; text-align: center;}

.Mochamint {font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; font-size: 20px; width: 73%; position: fixed; top:318px; height: 54%;  left: 11.5%; overflow-y:scroll;background-color:#FFFFFF; background-repeat: no-repeat; line-height: 150%; border: solid #FFFFFF; border-width: 25px;}

.homebutton {width: 273px; height: 156px;background-image: url("../../Desktop/Images for Lake Mahogany/red1homebutton.png");position: fixed; right: -130px; margin: 0 0 0 0; padding: 0 0 0 0; top: 350px; font-family : Chalkduster; color:#FFFFFF;
	font-size : 30px;}

.background{margin: -5 -5 -5 -5; padding: -5 -5 -5 -5; background: url("../../Desktop/Images for Lake Mahogany/red1background.png"); width: 100%; height: 414px; position: fixed; top: 0px; right:0px;}

.fiction {background-image: url("../Images for Lake Mahogany/red1fiction.png"); width: 192px; height:108px; position: fixed; top: 380px; left: -50px; background-size: 100% 100%; font-family : Chalkduster; color:#FFFFFF; font-size: 20px; text-align: center;}

.Poetry {background-image: url("../Images for Lake Mahogany/red1poetry.png"); width: 192px; height:120px; position: fixed; top: 490px; left: -50px; background-size: 100% 100%; font-family : Chalkduster; color:#FFFFFF; font-size: 20px; text-align: center;}

.Visual {background-image: url("../Images for Lake Mahogany/red1visualart.png"); width: 192px; height:101px; position: fixed; top: 610px; left: -50px; background-size: 100% 100%; font-family : Chalkduster; color:#FFFFFF; font-size: 20px; text-align: center;}

.container{width:100%; height: 100%;}
